// Badge subcomponent
.badges {
  position: relative;
  z-index: 1;
  height: 100%;
  color: $true-white;
  .badge {
    position: absolute;
    z-index: 1;
    padding: 10px;
    cursor: pointer;
    &.top-right {
      top: 0;
      right: 0;
    }
    &.bottom-left {
      bottom: 0;
      left: 0;
    }
  }

  .price {
    padding: 3px 11px;
    border: 2px solid $true-white;
    border-radius: 3px;
  }

  svg {
    width: 25px;
    height: 25px;
    fill: $true-white;
  }
}