// Buttons
$button-small: 12px 20px;
$button-large: 15px 40px;

.btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
  padding: $button-large;
  color: $primary30;
  font-size: $text-font-size;
  line-height: 1;
  background-color: $true-white;
  border: 2px solid $primary30;
  outline: 0;
  border-radius: 1px;
  cursor: pointer;
  @include breakpoint(medium) {
    $text-font-size: 1.2rem;
    font-size: $text-font-size;
  }
  @include breakpoint(large) {
    $text-font-size: 1.1rem;
    padding: $button-small;
    font-size: $text-font-size;
  }
  &:not([disabled]):hover {
    color: $brand-primary;
    border-color: $brand-primary;
  }
  &:hover {
    text-decoration: none;
  }
  &:not(:last-child) {
    margin-right: 5px;
  }
}

.btn-primary {
  color: $true-white;
  background-color: $primary30;
  &:not([disabled]):hover {
    color: $true-white;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
  &:not([disabled]):active {
    background-color: darken($brand-primary, 10%);
    border-color: darken($brand-primary, 10%);
  }
}

.btn-cta {
  color: $true-white;
  background-color: $secondary30;
  border-color: $secondary30;
  &:not([disabled]):hover {
    color: $true-white;
    background-color: $brand-secondary;
    border-color: $brand-secondary;
  }
  &:not([disabled]):active {
    background-color: darken($brand-secondary, 10%);
    border-color: darken($brand-secondary, 10%);
  }
}

.btn-primary,
.btn-primary:not([disabled]):hover,
.btn-cta,
.btn-cta:not([disabled]):hover {
  border-bottom-color: rgba($true-black, 0.5);
}

.btn-cta-secondary {
  color: $secondary30;
  border-color: $secondary30;
  &:not([disabled]):hover {
    color: $brand-secondary;
    border-color: $brand-secondary;
  }
}

.btn-block,
.btn-small-block {
  display: block;
  width: 100%;
}

@include breakpoint(medium) {
  .btn-small-block {
    display: inline-block;
    width: auto;
  }
  .btn-medium-block {
    display: block;
    width: 100%;
  }
}

@include breakpoint(large) {
  .btn-medium-block {
    display: inline-block;
    width: auto;
  }
  .btn-large-block {
    display: block;
    width: 100%;
  }
}

.btn[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

// Button Utility Classes
.btn-large {
  padding: $button-large;
}

.btn-small {
  padding: $button-small;
}