// Hero Component
.hero {
  position: relative;
  z-index: 1;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @include breakpoint(large) {
    height: 260px;
  }
  
  .hero-title {
    position: relative;
    z-index: 1;
    top: 40px;
    left: 5%;
    max-width: 250px;
    color: $true-white;
    border-top: 6px solid $true-white;
    @include breakpoint(medium) {
      left: 10%;
      max-width: 450px;
    }
  }
}