// Color Palette

// Brand Colors
$brand-primary: #0064b1;
$brand-secondary: #f36719;

// Primary Color Scale
$primary10: #00336c;
$primary20: #4d59a8;
$primary30: #55b4e6;
$primary40: #7cd4d6;
$primary50: #c2e5fb;

// Secondary Color Sale
$secondary10: #9f310e;
$secondary20: #ef4130;
$secondary30: #f6891f;
$secondary40: #fdb733;
$secondary50: #ffe4ad;

// Tertiary Color Scale
$true-black: #000;
$tertiary10: #1d2631;
$tertiary20: #464f5a;
$tertiary30: #6f7883;
$tertiary40: #959ba3;
$tertiary50: #e7eaec;
$tertiary60: #f2f3f4;
$tertiary70: #f2f3f4;
$tertiary80: #f7f7f7;
$true-white: #fff;

// State Colors
$state-info: #c2e5fb;
$state-success: #15ef55;
$state-warning: #f3eb34;
$state-error: #ff1700;