// Mixins

// clearfix - Force element to self-clear its children
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.clearfix { @include clearfix; }


// Media Query Breakpoints – Breakpoint values should be in ems, which will allow triggering when users zoom.
// Per the W3C, relative units in media query declarations are based on the initial value of :root, which is 16px
// e.g., font-size: 1em = 1rem = 16px = 100%;
// http://www.w3.org/TR/css3-mediaqueries/#units
$screen-md: 40em; // 640px
$screen-lg: 64em; // 1024px

$breakpoints: (
  small: null,
  medium: $screen-md,
  large: $screen-lg
);

// breakpoint - Media query declaration using map
// Required: $breakpoint - valid key from $breakpoints map
@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @if $breakpoint == 'small' {
      @media screen and (max-width: map-get($breakpoints, medium)) {
        @content;
      }
    }

    @else if $breakpoint == 'medium' {
      @media screen and (min-width: map-get($breakpoints, medium)) {
        @content;
      }
    }

    @else if $breakpoint == 'large' {
      @media screen and (min-width: map-get($breakpoints, large)) {
        @content;
      }
    }

    @else {
      @warn 'Not a valid breakpoint: ' + $breakpoint;
    }
  }
}


// grid-setup – Create grid columns
@mixin grid-setup() {
  @each $name, $size in $breakpoints {
    @include breakpoint($name) {
      @for $i from 1 through $grid-columns {
        .col-#{$i} {
          width: ((100% / $grid-columns) * $i);
        }

        .col-#{$name}-#{$i} {
          width: ((100% / $grid-columns) * $i);
        }

        .col-#{$name}-skip-#{$i} {
          margin-left: ((100% / $grid-columns) * $i);
        }
      }
    }
  }
}