<div class="card card-hero">
  <header style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/91494/card-hero.jpg);"></header>
  <ul class="events">
    <li class="event clearfix">
      <div class="date">
        <span class="event-day">Thu</span>
        <span class="event-date">Feb 6</span>
      </div>
      <div class="event-details">
        <h6 class="event-name">The Flaming Lips</h6>
        <p class="event-location">7:15 pm at SAP Center</p>
        <p class="event-ticket-info">San Francisco, CA</p>
      </div>
    </li>
  </ul>
</div>