<div class="modal is-hidden">
  <div class="modal-body">
    <h3 class="modal-headline text-uppercase">This is a modal</h3>
    <p class="modal-copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse explicabo blanditiis magni ea, assumenda accusamus fuga animi consequuntur voluptatibus architecto ut praesentium perferendis sed voluptatem saepe excepturi laboriosam commodi.</p>
    <button type="button" class="btn btn-primary btn-small-block">Accept</button>
    <button type="button" class="btn btn-small-block">Cancel</button>
  </div>
</div>