// Inputs

// Form Fields (text, email, password)
.form-input {
  display: block;
  margin-bottom: 10px;
  padding: 10px 15px;
  width: 100%;
  color: $tertiary40;
  font-size: $text-font-size;
  border: 1px solid $tertiary50;
  border-radius: 1px;
  appearance: none;
  @include breakpoint(medium) {
    $text-font-size: 1.2rem;
    font-size: $text-font-size;
  }
  @include breakpoint(large) {
    $text-font-size: 1.1rem;
    font-size: $text-font-size;
  }
  &:focus {
    outline: none;
    border-color: $brand-primary;
  }
}

// Select
select.form-input {
  background: $true-white url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/91494/image-caret-down.svg) no-repeat 98% center; // fpo
  //background: $true-white url(assets/svg/image-caret-down.svg) no-repeat 98% center;
  background-size: 10px 10px;
  appearance: none;

  // Remove arrow icon in IE 10+
  &::-ms-expand {
    display: none;
  }
}

// Textarea
textarea.form-input {
  resize: none;
}

// Checkboxes
.form-checkbox {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  width: 15px;
  height: 15px;
  background-color: $true-white;
  border: 1px solid $tertiary50;
  border-radius: 1px;
  vertical-align: middle;
  cursor: pointer;
  appearance: none;
  &:checked {
    background: $brand-secondary url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/91494/image-checkmark.svg) center center no-repeat;
    background-size: 8px 8px;
  }

  & + label {
    display: inline-block;
    //margin-top: 1px;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
  }
}

// Radio Buttons
.form-radio {
  @extend .form-checkbox;
  border-radius: 50%;
  &:checked:before {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $brand-secondary;
    content: '';
  }
}

// Utility Classes
.form-inline > [class*="form-"] {
  display: inline-block;
  margin-bottom: 0;
  width: auto;
}

// Disabled States
.form-checkbox[disabled],
.form-radio[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
  &[checked] {
    background-color: $tertiary40;
  }
  & + label {
    opacity: 0.3;
  }
}

.form-radio[disabled][checked] {
  background-color: inherit;
}

// State Utility Classes
.is-invalid {
  border-color: $state-error;
}

.is-valid {
  border-color: $state-success;
}